@use "./variables" as var;

body {
    // width: 960px;
    margin: 5rem auto 2rem auto;
    // padding: 2rem 0 1rem 0;
    font-size: var.$main-font-size;
    font-family: var.$main-font;
}

header, main, footer {
    display: grid;
    place-items: center;
}